@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Poppins:wght@400;500;700&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

header {
  position: sticky;
  top: 0;
  z-index: 99;
  background: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 32px 54px;
  transition: padding 0.3s ease;
}

header h1 {
  color: #000;
  font-family: Montserrat;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

header h2 {
  color: #000;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

#header-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 5px;
  cursor: pointer;
}

#header-center {
  display: flex;
  flex-direction: row;
  column-gap: 75px;
}

#header-center a {
  padding: 3px 9px;
  transition: background-color 0.3s ease;
  border-radius: 4px;
}

#header-center a:hover {
  background-color: #d79c1240;
  cursor: pointer;
}

#header-center .page-active {
  background-color: #d79c12dd;
  pointer-events: none;
}

#header-right {
  display: flex;
  flex-direction: row;
  column-gap: 45px;
  align-items: center;
  position: relative;
}

#header-right .dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  /* padding: 6px; */
  display: none;
}

#header-right .user-btn.user-active:hover .dropdown {
  display: block;
  border-radius: 4px;
  border-top-left-radius: 0px;
}

#header-right .dropdown button {
  color: #000;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: left;
  width: 100%;
  display: block;
  padding: 12px 16px;
  background-color: #d79c1240;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#header-right .dropdown button:first-child {
  border-top-left-radius: 0px;
  border-top-right-radius: 4px;
}

#header-right .dropdown button:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

#header-right .dropdown button:hover {
  background-color: #d79c12dd;
}

.small-icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 24px;
  width: 24px;
  transition: padding 0s ease, transform 0s ease, border-radius 0.3s ease,
    background-color 0.3s ease;
}

.small-icon:hover {
  padding: 4px;
  transform: scale(1.5);
  border-radius: 100%;
  background-color: #d79c1240;
  cursor: pointer;
}

.user-btn {
  display: flex;
  flex-direction: row;
  column-gap: 4px;
  padding: 4px;

  transition: padding 0s ease, border-radius 0.3s ease,
    background-color 0.3s ease;
}

.user-btn img {
  height: 22px;
  width: 22px;
  color: #000;
}

.user-btn:hover {
  border-radius: 10px;
  background-color: #d79c1240;
  cursor: pointer;
}

.user-active {
  display: none;
}

.btn-1 {
  border: 1px solid var(--Primary, #b88e2f);
  background: #fff;
  color: var(--Primary, #b88e2f);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
  padding: 12px 80px;
  transition: color 0.3s ease, background 0.3s ease, border-color 0.3s ease;
  border-radius: 2px;
}

.btn-1:hover {
  color: #fff; /* Change text color on hover */
  background: var(--Primary, #b88e2f); /* Change background color on hover */
  border-color: var(--Primary, #b88e2f); /* Change border color on hover */
  cursor: pointer;
}

.btn-1:active {
  transform: translateY(2px); /* Push button slightly on click */
}

.btn-2 {
  border: 0;
  display: inline-flex;
  padding: 12px 80px;
  align-items: flex-start;
  gap: 10px;
  background: var(--Primary, #b88e2f);
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  text-transform: uppercase;
  border-radius: 2px;
  transition: background 0.3s ease, box-shadow 0.3s ease;
}

.btn-2:hover {
  background: #d79c12; /* Change to a deeper shade */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add box shadow on hover */
  cursor: pointer;
}

.btn-2:active {
  transform: translateY(2px); /* Push button slightly on click */
  box-shadow: none; /* Remove shadow on click */
}

footer {
  padding: 40px 80px;
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  border-top: 1px solid rgba(0, 0, 0, 0.17);
}

footer h1 {
  color: #000;
  font-family: Poppins;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

footer p {
  color: #9f9f9f;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

footer h2 {
  color: #9f9f9f;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

footer h3 {
  color: #000;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 2px 3px;
  border-radius: 4px;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

footer h3:hover {
  background-color: #d79c1240;
  cursor: pointer;
  transform: scale(1.1);
}

footer h4 {
  color: #000;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

footer .col {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: flex-start;
}

footer .col-title {
  height: 36px;
  margin-bottom: 20px;
}

footer .nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  column-gap: 10%;
}

/* Initial styles for the input field */
footer input {
  border: 0;
  border-bottom: solid 1px #000;
  padding: 2px 0;
  padding-right: 20px;
  margin-right: 4px;
  transition: border-bottom-color 0.3s ease; /* Adding transition effect */
}

/* Styles when the input is focused */
footer input:focus {
  outline: none; /* Removing default focus outline */
  border-bottom-color: #b88e2f; /* Changing border color when focused */
}

footer input:focus::placeholder,
footer input:not(:placeholder-shown)::placeholder {
  color: transparent; /* Shows the placeholder text when typing */
  transition: color 0.3s ease; /* Adding transition for placeholder color */
}

footer button {
  color: #000;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background-color: transparent;
  border: 0;
  border-bottom: solid 1px #000;
  padding: 2px 0;
  transition: box-shadow 0.3s ease, transform 0.3s ease; /* Adding transition effect */
}

/* Animation for the button when hovered */
footer button:hover {
  box-shadow: 0px 2px gray;
  transform: translateY(-1px);
  cursor: pointer;
}
footer button:active {
  transform: translateY(2px);
  box-shadow: none;
}

/* Login Form */
aside {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(6px);
  z-index: 999;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bt-form-login-simple-1 {
  width: 100%;
  max-width: 500px;
  margin-inline: auto;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
  padding: 40px;
  border-radius: 12px;
  background-color: #fff;
}
.bt-form-login-simple-1 .form-heading {
  text-align: center;
  margin-bottom: 4px;
  color: var(--Font-Color, #333);
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.bt-form-login-simple-1 .form-desc {
  color: #808191;
  font-size: 14px;
  text-align: center;
  font-weight: 500;
}
.bt-form-login-simple-1 .btn-login-google {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 14px;
  border: 1px solid #cbd5e1;
  margin-top: 20px;
  border-radius: 12px;
  font-weight: 500;
  color: #4b5264;
  transition: linear 0.25s;
}
.bt-form-login-simple-1 .text-wrap {
  display: flex;
  align-items: center;
  margin-block: 20px;
}
.bt-form-login-simple-1 .text {
  text-align: center;
  padding-inline: 20px;
  font-size: 14px;
  font-weight: 500;
  color: #808191;
}
.bt-form-login-simple-1 .text-line {
  height: 1px;
  width: 100%;
  background-color: #f1f1f3;
}
.bt-form-login-simple-1 .form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.bt-form-login-simple-1 .form-group {
  margin-bottom: 20px;
}
.bt-form-login-simple-1 .form-group label {
  font-size: 14px;
  font-weight: 500;
  color: #000;
  font-family: Poppins;
  font-style: normal;
}
.bt-form-login-simple-1 .form-group:last-child {
  margin-bottom: 0;
}
.bt-form-login-simple-1 .form-input {
  padding: 15px 25px;
  width: 100%;
  border: 1px solid #cbd5e1;
  border-radius: 12px;
  outline: none;
  transition: linear 0.25s;
}
.bt-form-login-simple-1 .form-input:focus {
  border-color: #d9ab40;
}
.bt-form-login-simple-1 .form-meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  margin-top: 20px;
}
.bt-form-login-simple-1 .form-remember {
  display: flex;
  align-items: center;
  gap: 5px;
}
.bt-form-login-simple-1 .form-remember label {
  position: relative;
  top: 1px;
}
.bt-form-login-simple-1 .form-link {
  font-size: 14px;
  font-weight: 500;
  text-decoration: underline;
  transition: linear 0.25s;
}
.bt-form-login-simple-1 .form-link:hover {
  color: #d9ab40;
}
.bt-form-login-simple-1 .form-btn {
  padding: 13px;
  width: 100%;
  background-color: #d9ab40;
  border-radius: 12px;
  color: #fff;
  font-weight: 500;
  margin-top: 20px;
  border: 0;
}
.bt-form-login-simple-1 .form-option {
  text-align: center;
  font-size: 14px;
}
.bt-form-login-simple-1 .form-option a {
  font-weight: 500;
  text-decoration: underline;
  transition: linear 0.25s;
}
.bt-form-login-simple-1 .form-option a:hover {
  color: #d9ab40;
}
.bt-form-login-simple-1 .form-btn {
  display: inline-block;
  padding: 16px 40px;
  font-size: 1.125rem;
  line-height: 1.75rem;
  background-color: #d9ab40;
  color: white;
  font-weight: 600;
  border-radius: 8px;
  user-select: none;
  cursor: pointer;
  position: relative;
  isolation: isolate;
  overflow: hidden;
}
.bt-form-login-simple-1 .form-btn:hover::before {
  left: auto;
  right: 0;
  width: 100%;
}
.bt-form-login-simple-1 .form-btn::before {
  content: '';
  position: absolute;
  left: 0;
  right: auto;
  top: 0;
  height: 100%;
  width: 0;
  background-color: #fff;
  opacity: 0.1;
  z-index: -1;
  transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.error-message {
  display: block;
  font-size: 12px;
  color: red;
  margin-top: 5px;
}

/* Bread-scrum */
.fui-basic-breadcrumb .breadcrumb-list,
.fui-basic-breadcrumb .breadcrumb-link,
.fui-basic-breadcrumb .breadcrumb-item {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #374151;
}
.fui-basic-breadcrumb .breadcrumb-list {
  gap: 12px;
}
.fui-basic-breadcrumb .breadcrumb-item {
  gap: 8px;
}
.fui-basic-breadcrumb .breadcrumb-item svg {
  height: 20px;
}
.fui-basic-breadcrumb .breadcrumb-item:last-child {
  cursor: text;
}
.fui-basic-breadcrumb .breadcrumb-item:last-child .breadcrumb-link {
  pointer-events: none;
  color: #000000af;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.fui-basic-breadcrumb .breadcrumb-link {
  color: #000;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.fui-basic-breadcrumb .breadcrumb-link:hover {
  color: #8c6d0f;
}

/* Loading Spinner */
#loading-spinner {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  background-color: #0000003a;
}

.fui-loading-spinner {
  width: 80px;
  height: 80px;
  border: 7px solid #d9ab40;
  border-top-color: rgba(0, 0, 0, 0);
  border-radius: 50%;
  animation: GJWA5 1s linear infinite;
}
@keyframes GJWA5 {
  to {
    transform: rotate(360deg);
  }
}

#btn-cart {
  position: relative;
}

.number-container {
  position: absolute;
  top: -12px;
  left: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff3e3; /* Slightly red background */
  border: 2px solid #b88e2f; /* Full red border */
  border-radius: 50%; /* Make the container circular */
  width: 30px; /* Fixed width */
  height: 30px; /* Fixed height */
  padding: 4px; /* Optional padding around the number */
}

.number {
  font-size: 12px; /* Adjust font size as needed */
  font-weight: bold;
}
