#section1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  aspect-ratio: 4.55/1;
  overflow: hidden;
  padding: 46px;
  background: rgba(211, 211, 211, 0.436) 50%;
}

#section1 img {
  position: absolute;
  top: -760px;
  left: 0;
  z-index: -1;
  width: 100%;
  filter: blur(3px);
  transform: translateY(3%);
}

#section1 h1 {
  color: #000;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

#section1 p {
  color: var(--Font-Color, #333);
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 133.333% */
  margin-bottom: 30px;
}

#section3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
}

#section3 h1 {
  color: var(--Color-Gray-1, #3a3a3a);
  text-align: center;
  font-family: Poppins;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 48px */
}

#section3 h2 {
  color: var(--Color-Gray-3, #3a3a3a);
  text-align: center;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  margin: 28px 0;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

#section3 p {
  color: var(--Color-Gray-1, #3a3a3a);
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 30px */
}

#section3 .cards {
  display: grid;
  padding: 40px 80px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 28px;
}

#section3 .card {
  position: relative;
  overflow: hidden;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  border-radius: 10px;
  overflow: hidden;
  transition: box-shadow 0.4s ease,
    transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1); /* Adjusted timing function */
  border-radius: 10px;
  background: #ffffff;
  box-shadow: -8px 8px 16px #eaeaea;
}

#section3 .card .content {
  padding: 10px 20px;
}

#section3 .card:hover {
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  transform: scale(1.05);
  cursor: pointer;
  background-color: #826522;
}

#section3 img {
  mix-blend-mode: multiply;
  width: 100%;
}

#section3 .price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#section3 .normal-price {
  text-decoration: line-through;
  color: var(--Color-Gray-1, #8f8f8f);
}

#section3 .card:hover button {
  visibility: visible;
}

#section3 button {
  display: block;
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  visibility: hidden;
  z-index: 999;
  padding: 16px 32px;
  border-radius: 50px;
  cursor: pointer;
  border: 0;
  background-color: white;
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 14px;
  transition: all 0.3s ease;
}

#section3 button:hover {
  letter-spacing: 3px;
  background-color: #fff3e3;
  color: hsl(0, 0%, 14%);
}

#section3 button:active {
  transform: translateX(-50%) translateY(-35%);
}

:root {
  --rad: 1.2rem;
  --dur: 0.3s;
  --color-dark: #2f2f2f;
  --color-light: #fff;
  --color-brand: #d79c12dd;
  --color-brand-darker: rgb(215, 156, 18) d;
  --height: 2.4rem;
  --btn-width: 6rem;
  --bez: cubic-bezier(0, 0, 0.43, 1.49);
}
.search-form {
  margin-top: 2rem;
  position: relative;
  width: 30rem;
  background: var(--color-brand);
  border-radius: var(--rad);
}
.search-form input,
.search-form button {
  height: var(--height);
  border: 0;
  color: var(--color-dark);
  font-size: 1rem;
}
.search-form input[type='search'] {
  outline: 0;
  width: 100%;
  background: var(--color-light);
  padding: 0 1.6rem;
  border-radius: var(--rad);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  transition: all var(--dur) var(--bez);
  transition-property: width, border-radius;
  z-index: 1;
  position: relative;
}
.search-form button {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: var(--btn-width);
  font-weight: bold;
  background: var(--color-brand);
  border-radius: 0 var(--rad) var(--rad) 0;
}

.search-form button:hover {
  background: var(--color-brand-darker);
  cursor: pointer;
}

.search-form input:not(:-moz-placeholder-shown) {
  border-radius: var(--rad) 0 0 var(--rad);
  width: calc(100% - var(--btn-width));
}
.search-form input:not(:placeholder-shown) {
  border-radius: var(--rad) 0 0 var(--rad);
  width: calc(100% - var(--btn-width));
}
.search-form input:not(:-moz-placeholder-shown) + button {
  display: block;
}
.search-form input:not(:placeholder-shown) + button {
  display: block;
}
.search-form label {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

input[type='search']::-webkit-search-cancel-button {
  /* Remove default */
  -webkit-appearance: none;
}

#section3 .btn-1 {
  display: block;
  width: 50%;
  position: static;
  visibility: visible;
  transform: none;
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 3px, rgba(0, 0, 0, 0.17) 0px 6px 6px,
    rgba(0, 0, 0, 0.09) 0px -1px 2px;
}

#section3 .btn-1:active {
  transform: translateY(8px);
}
