#section0 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  aspect-ratio: 4.55/1;
  overflow: hidden;
  padding: 46px;
  background: rgba(211, 211, 211, 0.436) 50%;
}

#section0 img {
  position: absolute;
  bottom: -60px;
  left: 0;
  z-index: -1;
  width: 100%;
  filter: blur(3px);
  transform: translateY(3%);
}

#section0 h1 {
  color: #000;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

#section0 p {
  color: var(--Font-Color, #333);
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 133.333% */
  margin-bottom: 30px;
}

.fui-accordion {
  margin: 0 15px;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
  background-color: #f4f4f4;
}
.fui-accordion .accordion-content {
  margin: 10px 0;
  border-radius: 4px;
  border: 1px solid #d1d5db;
  overflow: hidden;
}
.fui-accordion .accordion-content.open {
  padding-bottom: 10px;
}
.fui-accordion .accordion-content header {
  min-height: 50px;
  cursor: pointer;
  transition: all 0.3s linear;
  background: var(--Primary, #b88e2f);
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  padding: 25px 72px;
  align-items: flex-start;
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
}
.fui-accordion .accordion-content.open header {
  min-height: 35px;
}
.fui-accordion .accordion-content header .title {
  width: 90%;
}

.fui-accordion .icon {
  height: 24px;
}
.fui-accordion .icon-plus.hidden {
  display: none;
}
.fui-accordion .icon-minus {
  display: none;
}
.fui-accordion .icon-minus.active {
  display: block;
}
.fui-accordion .accordion-content .description {
  height: 0;
  overflow: hidden;
  padding: 0 15px;
  transition: all 0.3s linear;
  background-color: #fff;
}

.description {
  font-family: Arial, sans-serif;
  border: 1px solid #ccc;
}

.buyer-info {
  margin-bottom: 10px;
}

.product-header {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.product-item {
  margin-bottom: 5px;
}

.item-price {
  float: right;
}

.total-price {
  margin-top: 15px;
  font-weight: bold;
}

.buyer-info {
  padding-top: 10px;
}

.total-price {
  padding-bottom: 10px;
}
